<footer>
        <div class="footer">
            <div class="footer-images">
                <a href="https://www.instagram.com/mariieedoesart/"><img class="footer-img" src="icons8-instagram-100 (1).png" alt=""></a>
                <a href="salahuddinmariam23@gmail.com"><img class="footer-img" src="icons8-mail-100.png" alt=""></a>
            </div>
            <div>
                <p class="footer-txt">© 2023 by Mariam Salahuddin</p>
            </div>
        </div>
</footer>

</html>