<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mariam's Personl Website</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
        <nav class="navbar">
            <a class = "navbar-brandy" href="/about.ejs">Mariam Salahuddin</a>
            <div class="navbar-items">
                <a class="navbar-items-one" href="/">Home</a>
                <a class="navbar-items-one" href="/painting">Paintings</a>
                <a class="navbar-items-one" href="/digital">Digital Art</a>
                <a class="navbar-items-one" href="/contact">Contact</a>
                <a class="navbar-items-one" href="/about">About</a>
            </div>
            <div class="navbar-images">
                <a href="https://www.instagram.com/mariieedoesart/"><img class="navbar-image" src="icons8-instagram-100 (1).png" alt=""></a>
                <a href="mailto:salahuddinmariam23@gmail.com"><img class="navbar-image" src="icons8-mail-100.png" alt=""></a>
            </div>
            
        </nav>
