<%- include("partials/header.ejs") %>

<div class="aboutpg">
    <img class="about-img" src="1696518821559.jpg" alt="">
    <p class="about-txt">
        Meet Mariam Salahuddin, a passionate artist known for their extraordinary talent and unique artistic vision. With a brush in hand and a world of imagination at their fingertips, they embark on a creative journey that captivates the senses and stirs the soul..
Hailing from Karachi, Pakistan, she is also a very promising digital artist with a spectacular art collection varying from breath-taking scenic views to celebrity portraits. 
With an immense arsenal of different art-styles which include anime renders, Mariam can make any art you can imagine.
    </p>
</div>

<%- include("partials/footer.ejs") %>