<%- include("partials/header.ejs") %>

<main>
    <h1 class="painting-txt">Vibrant Digital Art!</h1>
    <div class="paintingpage">
        <img class="painting-img animecompil" src="DigitalArt/animecompilation.jpg" alt=""> <!--building-->
        <img class="painting-img tanjiro" src="DigitalArt/tanjiro.jpg" alt=""> <!--urban sunrise--->
        <img class="painting-img Inosuke" src="DigitalArt/Inosuke.jpg" alt=""> <!--strawberry-->
        <img class="painting-img floating" src="DigitalArt/floatinggirl.jpg" alt=""> <!--street lamp-->
        <img class="painting-img sukuna" src="DigitalArt/sukuna.jpg" alt=""> <!--pine trees-->
        <img class="painting-img ariana" src="DigitalArt/Ariana.jpg" alt=""> <!--starry mountain-->
    </div>
</main>


<%- include("partials/footer.ejs") %>