<%- include ("partials/header.ejs") %>

<div class="frontpage">
    <div class="txt">
        <p class="front-txt A">Illustrator</p>
        <p class="front-txt B">Painter</p>
        <p class="front-txt C">Designer</p>
        <p class="front-txt D">Artist</p>
    </div>
    <img class="frontpage-img" src="330006655_218196640654577_2992836122461161549_n.jpg" alt="">
</div>
<div class="secondpage">
    <div class="txt">
        <p class="second-txt">Mariam is a painter and illustrator 
            who specialises in the traditional and digital
            medium. </p>
        <p class="second-txt">She loves to tell stories through
            Depictions of nature using delicate strokes 
            and breath-taking colours.</p>
    </div>
    <img class="second-img" src="107522855_721904145308024_611602505158461632_n.jpg" alt="">
</div>
<div class="thirdpage">
        <p class="third-txt one">A Digital Artist </p>
        <img class="third-img" src="Snapchat-2069350497.jpg" alt="">
        <p class="third-txt two">And Much More</p>
</div>




<%- include ("partials/footer.ejs") %>