<%- include("partials/header.ejs") %>
<main>
    <h1 class="painting-txt">Hand Drawn Canvas Goodness!</h1>
    <div class="paintingpage">
        <img class="painting-img building" src="120403113_432323851065763_2248590501092902592_n.jpg" alt=""> <!--building-->
        <img class="painting-img starryrock" src="109797266_282106343057103_6591824324200657342_n.jpg" alt=""> <!--starry mountain-->
        <img class="painting-img lamp" src="109780284_712139026248145_8338736705482101506_n.jpg" alt=""> <!--street lamp-->
        <img class="painting-img strawberry" src="118617379_595489297790618_5858984648436853294_n.jpg" alt=""> <!--strawberry-->
        <img class="painting-img pine" src="90518039_130768351830339_1618551714444267239_n.jpg" alt=""> <!--pine trees-->
        <img class="painting-img sunrise" src="116913397_811830109624539_6740078947611882647_n.jpg" alt=""> <!--urban sunrise--->
        <img class="painting-img bluegirl" src="90088959_193013985319443_1601080854881629113_n.jpg" alt=""> <!-- blue girl-->
        <img class="painting-img butterfly" src="118698080_3378776612347540_89067564145275063_n.jpg" alt=""> <!--butterfly-->
        <img class="painting-img swamp" src="65971779_146025033158335_7487080378632218746_n.jpg" alt=""> <!--swamp-->
        <img class="painting-img turkishsunset" src="119242292_646721229584647_2103624504778432437_n.jpg" alt=""> <!--turkish sunset-->
        <img class="painting-img ferris" src="119882120_240709180716901_1640286461994508121_n.jpg" alt=""> <!--ferris wheel-->
        <img class="painting-img alps" src="119999434_422838985362410_2632044428911355270_n.jpg" alt=""> <!--alps-->
       
    </div>
</main>


<%- include("partials/footer.ejs") %>
